body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
    width: 1903px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    background-color: #EEEFEF;
}
.main-content {
    flex: 1;
}
.wrapper {
    width: 1903px;
    margin: 0 auto;
}
header {
    background: black;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
}
header>.wrapper {
    flex-direction: column;
}
/* Hamburger menu */
header .header-primary {
    background-color: #0B9BC9;
    width: 1903px;
    height: 60px;
    position:fixed;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    box-sizing: border-box;
}
header .header-secondary {
    background-color: white;
    width: 1903px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-icons {
    color: #FFFFFF;;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
}
.material-icons#btn-open {
    display: block;
}
.material-icons#btn-close {
    display: none;
}
nav {
    position: absolute;
    top: 120px;
    width: 300px;
    height: 1480px;
    background-color:#0B9BC9;
    transform: translateX(-100%);
    transition: .4s;
}
header .header-secondary .corona span {
    font-size: 18px;
    color:black;
}
header .header-secondary .corona {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
header .header-primary .shim {
    position: absolute;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
}
header .header-primary .shim li {
    float: left;
}
header .header-primary .shim li a {
    position: relative;
    padding: 18px 15px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header-primary .shim li img {
    margin: 0 4px;
    width:24px;
    height: 24px;
}
header .header-primary .sns {
    position: absolute;
    right: 296px;
}
header .header-primary .sns li {
    float:left;
}
header .header-primary .sns img {
    border-radius: 50%;
    margin: 0 4px;
    width: 24px;
    height: 24px;
}
header .header-primary .country {
    position: absolute;
    right: 432px;
}
header .header-primary .country li {
    float: left;
    padding: 0 5px;
    font-size: 13px;
}
header .header-primary .country a {
    text-decoration: none;
    color: #444444;
}
header .header-primary .search {
    right: 40px;
    display: flex;
    align-items: center;
    position: absolute;
}
header .header-primary .search input {
    border: 1px solid #FFFFFF;
    padding: 4px 10px;
    margin: 0px 36px 0px 0px;
    width: 210px;
    height: 36px;
    box-sizing: border-box;
}
header .header-primary .search .material-icons {
    right: 2px;
    padding: 0 3px;
    background-color: #0B7599;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    color: white;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
.btn-scrollToTop {
    position: fixed;
    bottom: 30px;
    width: 40px;
    right: calc((100% - 1100px)/2 - 100px);
    cursor: pointer;
    animation: float 6s ease infinite;
    z-index: 50;
}
footer {
    background-color: rgb(247, 247, 247);
    width: 100%;
    text-align: center;
    border-top: 3px solid #333;
}
footer .footer-secondary {
    position: relative;
    display: flex;
}
footer .footer-secondary ul.main {
    position: relative;
    display: flex;
    flex-grow: 1;
}
footer .footer-secondary ul.main li.item {
    position: relative;
    display: block;
    width: 215px;
}
footer .footer-secondary ul.main li.item .item-title {
    display: flex;
    padding: 0 18px;
    height: 55px;
    align-items: center;
    margin: auto;
    transition: .4s;
    cursor: pointer;
    justify-content: center;
}
footer .footer-secondary ul.main li.item .item-title:hover {
    background-color: #0B9BC9;
    color: white;
    transition: .4s;
}
footer .footer-secondary ul.main li.item .item-title:hover .material-icons {
    color: white;
}
footer .footer-secondary ul.main li.item .item-title .item-name {
    font-size: 13px;
    line-height: 14px;
    padding: 5px 0;
    padding-right: 4px;
    display: inline-block;
}
footer .footer-secondary ul.main li.item .item-title .material-icons {
    font-size: 24px;
    padding-left: 5px;
    right: 5px;
    color: black;
}
footer .footer-secondary ul.main li.item .item-contents {
    position: absolute;
    bottom: 55px;
    color: #0B9BC9;
    background: white;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    display: none;
}
footer .footer-secondary ul.main li.item:hover .item-contents {
    display: block;
}
footer .footer-secondary ul.main li.item .item-contents>ul li {
    padding: 5px 5px;
    transition: .4s;
    border: 1px solid #ddd;
}
footer .footer-secondary ul.main li.item .item-contents>ul li:hover {
    transition: .4s;
    background: #149dca;
    color: white;
}
footer .footer-primary {
    padding: 24px 0 48px 0;
    border-top: 1px solid #ddd;
}
footer .footer-primary .f-left {
    position: absolute;
    left: 20px;
    font-size: 13px;
    color: #222222;
}
footer .footer-primary .f-left li {
    float: left;
    padding: 0 12px;
    border-right: 1px solid #ddd;
}
footer .footer-primary .f-left li:first-child {
    font-size: 13px;
    color: #405985;
}
footer .footer-primary .f-right {
    position: absolute;
    right: 20px;
    width: 56px;
    height: 40px;
}
footer .footer-primary .f-right img {
    width: 56px;
    height: 40px;
}
section .Layout {
    overflow: hidden;
}
aside#left {
    width: 200px;
    height: 1140px;
    float: left;
    background-color: #EEEFEF;
}
aside#right {
    width: 200px;
    height: 1140px;
    float: right;
    background-color: #EEEFEF;
}
main {
    width: 1503px;
    height: 1140px;
    float: left;
    background-color: #EEEFEF;
    margin: 0 auto;
}
main #banner {
    width: 1503px;
    height: 85px;
    background: #EEEFEF;
    margin: 20px 0;
    top: 120px;
    position: relative;
}
main #banner img {
    width: 1180px;
    height: 84px;
    margin-left: 170px;
    border: 1px solid rgba(115,117,149,0.5);
}
main .grid-container {
    display: grid;
    grid-template-columns: 480px 340px 330px;
    grid-template-rows: 155px 185px 250px 180px;
    gap: 10px;
    top: 125px;
    position: relative;
    background-color: #cccc;
    padding: 10px;
    margin: 0 155px;
}
.grid-container> div {
    background-color: white;
    font-size: 30px;
}
/* item1 */
/* datalist */
main .grid-container .item1 .datalist ul {
    position: relative;
    display: table;
    width: 100%;
}
main .grid-container .item1 .datalist .subtit {
    margin-right: 7px;
    font-size: 13px;
    color: #fff;
    vertical-align: middle;
}
main .grid-container .item1 .datalist .data {
    font-size: 19px;
    font-weight: 600;
    color: #ffd43e;
}
main .grid-container .item1 .datalist li {
    position: relative;
    display: table-cell;
    text-align: center;
    color: black;
}
main .grid-container .item1 .datalist ul li:first-child {
    background-color: #d7d9d5;
    color: #2c322a;
    width: 30%;
    line-height: 42px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}
main .grid-container .item1 .datalist ul li:nth-child(2) {
    border-right: 1px solid #539933;
    background-color: #288000;
    width: 35%;
    display: table-cell;
}
main .grid-container .item1 .datalist ul li:nth-child(3) {
    background-color: #288000;
    width: 35%;
    display: table-cell;
}
/* liveNum */
main .grid-container .item1 .liveNum {
    position: relative;
    display: table;
    margin-top: 1px;
    width: 100%;
    box-sizing: border-box;
}
main .grid-container .item1 .liveNum li {
    position: relative;
    display: table-cell;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 10px 6px 12px 6px;
}
main .grid-container .item1 .liveNum ul li:first-child {
    padding-right: 4px;
    padding-left: 0px;
    background-color: #0099ff;
    width: 30%;
}
main .grid-container .item1 .liveNum li .tit {
    padding-left: 4px;
    height: 33px;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
main .grid-container .item1 .liveNum li .num {
    font-weight: 400;
    font-size: 30px;
}
main .grid-container .item1 .liveNum li .mini {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    vertical-align: middle;
}
main .grid-container .item1 .liveNum li .before {
    font-weight: 400;
    font-size: 13px;
}
main .grid-container .item1 .liveNum .sign {
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    z-index: 2;
}
main .grid-container .item1 .liveNum li:nth-child(2) {
    background-color:#006699;
    width: 24%;
}
main .grid-container .item1 .liveNum li:nth-child(3) {
    background-color:#174069;
    position: relative;
    width: 25%;
}
main .grid-container .item1 .liveNum li:nth-child(4) {
    background-color:#808080;
    width: 21%;
}
/* item2 */
main .grid-container .item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}
/* item3 */
main .grid-container .item3 {
    border-top: 4px solid #164068;
    background-color: #EAFDFF;
}
main .grid-container .item3 .livetest {
    width: 192px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}
main .grid-container .item3 h3 {
    color: #174069;
    font-size: 15px;
    padding-right: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
/* info-core */
main .grid-container .item3 .info-core {
    width: 182.5px;
}
main .grid-container .item3 .info-core li {
    font-size: 16px;
    padding: 5px 0;
    display: inline;
}
main .grid-container .item3 .info-core li .tit {
    color: #666666;
    font-size: 13px;
    font-weight: 600;
}
main .grid-container .item3 .info-core li .num {
    color: #174069;
    font-size: 16px;
    font-weight: 600;
}
main .grid-container .item3 .info-core li .core {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}
main .grid-container .item3 img {
    width: 275px;
    height: 180px;
    position: absolute;
    right: 703px;
    top: 180px;
}
/* item4 */
main .grid-container .item4 {
    border-top: 4px solid #164068;
    background-color:#E6F6FF;
    font-size: 16px;
    padding-top: 7px;
}
main .grid-container .item4 h3 {
    font-size: 15px;
    color: #174069;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
main .grid-container .item4 img {
    width: 480px;
    height: 217px;
    box-sizing: border-box;
    padding-top: 7px;
}
/* item5 */
main .grid-container .item5 {
    background-color:#18407D;
    color: #D1FFFF;
    padding: 10px;
    font-size: 16px;
}
main .grid-container .item5 .text {
    font-size: 17px;
    line-height: 25.5px;
}
main .grid-container .item5 .info {
    position: absolute;
    font-size: 13px;
    left: 24px;
    bottom: 22px;
}
/* item6 */
main .grid-container .item6 {
    border-top: 4px solid #164068;
}
main .grid-container .item6 h3 {
    color: #145663;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
main .grid-container .item6 .more{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    background-color: #009fd1;
    color: #fff;
    margin-bottom: -3px;
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}
main .grid-container .item6 h4 {
    color: #164068;
    margin-left: 10px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
}
main .grid-container .item6 a {
    text-decoration: none;
    font-size: 13px;
    color: #222222;
}
main .grid-container .item6 li {
    padding: 2px 0;
    line-height: 16px;
}
main .grid-container .item7 {
    border-top: 4px solid #164068;
}
main .grid-container .item7 h3 {
    color: #585041;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
main .grid-container .item7 .more{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    background-color: #009fd1;
    color: #fff;
    margin-bottom: -3px;
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}
main .grid-container .item7 h4 {
    color: #164068;
    margin-left: 10px;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 600;
}
main .grid-container .item7 a {
    text-decoration: none;
    font-size: 13px;
    color: #222222;
}
main .grid-container .item7 li {
    padding: 2px 0;
    line-height: 16px;
}
main .grid-container .item7 .now-banner {
    position: absolute;
    right: 13px;
    bottom: 10px;
    width: 330px;
    height: 60px;
    background: url(../images/bigbanner_backimg.png) no-repeat right bottom #b78146;
}
main .grid-container .item7 .now-banner a {
    padding: 18px 0 7px 10px;
    cursor: pointer;
}
main .grid-container .item7 .now-banner .banner-title {
    background: url(../images/bigbanner_icon.png) no-repeat 0 center;
    padding-left: 30px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
}

/* MAIN SLIDER*/
#about{
    height: 600px;
    position: relative;
    width: 1503px;
    margin: 0 auto;

}
#about .wrapper {
    width: 1503px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#about .wrapper #slider {
    width: 1220px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

#about .wrapper #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about .wrapper #slider .slide1 {
    background-image: url(../images/slide\ image.jpg);
}

#about .wrapper #slider .slide2 {
    background-image: url(../images/slide\ image2.jpg);
}

#about .wrapper #slider .slide3 {
    background-image: url(../images/slide\ image3.jpg);
}

#about .wrapper #slider .slide4 {
    background-image: url(../images/slide\ image4.jpg);
}

#about .wrapper #slider .slide5 {
    background-image: url(../images/slide\ image5.jpg);
}

#about .wrapper #slider .slide6 {
    background-image: url(../images/slide\ image6.png);
}

#about .wrapper #slider .slide-content {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .wrapper #slider .slide-content span {
    font-size: 80px;
    color: #F6F5F0;
}

/* SLIDER ARROW */

#about .wrapper #slider .material-icons-outlined {
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-size: 80px;
    color: #F6F5F0;
}

#about .wrapper #slider .arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
}

#about .wrapper #slider .arrow-left {
    left: 0px;
}

#about .wrapper #slider .arrow-right {
    right: 0px;
}

/* SLIDER DOTS */

#about .wrapper #slider .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .wrapper #slider .dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #F6F5F0;
    margin: 0 3px;
    cursor: pointer;
}

#about .wrapper #slider .dots .dot1 {
    background: #1107ff;
} 