body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
    width: 1920px;
    height: 100%;
    margin: 0 auto;
}
.wrapper {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}
header {
    background: black;
    height: 120px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
header>.wrapper {
    /* display: flex; */
    flex-direction: column;
}
/* Hamburger menu */
header .header-primary {
    background-color: #0B9BC9;
    width: 1920px;
    height: 60px;
    position:fixed;;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    box-sizing: border-box;
}
header .header-secondary {
    background-color: white;
    width: 1920px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-icons {
    color: #FFFFFF;;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
}
.material-icons#btn-open {
    display: block;
}
.material-icons#btn-close {
    display: none;
}
nav {
    position: absolute;
    top: 120px;
    width: 300px;
    height: calc(100vh - 60px);
    background-color:#0B9BC9;
    transform: translateX(-100%);
    transition: .4s;
}
header .header-secondary .corona span {
    font-size: 18px;
    color:black;
}
header .header-secondary .corona {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
header .header-primary .shim {
    position: absolute;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
}
header .header-primary .shim li {
    float: left;
}
header .header-primary .shim li a {
    position: relative;
    padding: 18px 15px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header-primary .shim li img {
    margin: 0 4px;
    width:24px;
    height: 24px;
}
header .header-primary .sns {
    position: absolute;
    right: 266px;
}
header .header-primary .sns li {
    float:left;
}
header .header-primary .sns img {
    border-radius: 50%;
    margin: 0 4px;
    width: 24px;
    height: 24px;
}
header .header-primary .country {
    position: absolute;
    right: 402px;
}
header .header-primary .country li {
    float: left;
    padding: 0 5px;
    font-size: 13px;
}
header .header-primary .country a {
    text-decoration: none;
    color: #444444;
}
header .header-primary .search {
    right: 10px;
    display: flex;
    align-items: center;
    position: absolute;
}
header .header-primary .search input {
    border: 1px solid #FFFFFF;
    padding: 4px 10px;
    margin: 0px 36px 0px 0px;
    width: 210px;
    height: 36px;
    box-sizing: border-box;
}
header .header-primary .search .material-icons {
    right: 2px;
    padding: 0 3px;
    background-color: #0B7599;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    color: white;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
.btn-scrollToTop {
    position: fixed;
    bottom: 30px;
    width: 40px;
    right: calc((100% - 1100px)/2 - 100px);
    cursor: pointer;
    animation: float 6s ease infinite;
}
footer {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: bottom;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 3px solid #333;
}
footer .footer-secondary {
    position: relative;
    display: flex;
}
footer .footer-secondary ul.main {
    position: relative;
    display: flex;
    flex-grow: 1;
}
footer .footer-secondary ul.main li.item {
    position: relative;
    display: block;
    width: 215px;
}
footer .footer-secondary ul.main li.item .item-title {
    display: flex;
    padding: 0 18px;
    height: 55px;
    align-items: center;
    margin: auto;
    transition: .4s;
    cursor: pointer;
    justify-content: center;
}
footer .footer-secondary ul.main li.item .item-title:hover {
    background-color: #0B9BC9;
    color: white;
    transition: .4s;
}
footer .footer-secondary ul.main li.item .item-title:hover .material-icons {
    color: white;
}
footer .footer-secondary ul.main li.item .item-title .item-name {
    font-size: 13px;
    line-height: 14px;
    padding: 5px 0;
    padding-right: 4px;
    display: inline-block;
}
footer .footer-secondary ul.main li.item .item-title .material-icons {
    font-size: 24px;
    padding-left: 5px;
    right: 5px;
    color: black;
}
footer .footer-secondary ul.main li.item .item-contents {
    position: absolute;
    bottom: 55px;
    color: #0B9BC9;
    background: white;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    display: none;
}
footer .footer-secondary ul.main li.item:hover .item-contents {
    display: block;
}
footer .footer-secondary ul.main li.item .item-contents>ul li {
    padding: 5px 5px;
    transition: .4s;
    border: 1px solid #ddd;
}
footer .footer-secondary ul.main li.item .item-contents>ul li:hover {
    transition: .4s;
    background: #149dca;
    color: white;
}
footer .footer-primary {
    padding: 24px 0 48px 0;
    border-top: 1px solid #ddd;
}
footer .footer-primary .f-left {
    position: absolute;
    left: 20px;
    font-size: 13px;
    color: #222222;
}
footer .footer-primary .f-left li {
    float: left;
    padding: 0 12px;
    border-right: 1px solid #ddd;
}
footer .footer-primary .f-left li:first-child {
    font-size: 13px;
    color: #405985;
}
footer .footer-primary .f-right {
    position: absolute;
    right: 20px;
    width: 56px;
    height: 40px;
}
footer .footer-primary .f-right img {
    width: 56px;
    height: 40px;
}
section .Layout {
    overflow: hidden;
}
aside#left {
    width: 200px;
    height: 800px;
    float: left;
    background: white;
}
aside#right {
    width: 200px;
    height: 800px;
    float: right;
    background: white;
}
main {
    width: 1520px;
    height: 800px;
    float: left;
    background: white;
}
main #banner {
    width: 1520px;
    height: 226px;
    background: white;
}
main .grid-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    background-color: white;
    padding: 1px;
    margin: 0 150px;
}
.grid-container> div {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
main .grid-container .item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}
main .grid-container .item5 {
    background-color:#18407D;
    color: #D1FFFF;
}
main .grid-container .item5 .text {
    font-size: 17px;
}
main .grid-container .item5 .info {
    font-size: 13px;
}